<div class="card">
	<img ng-click="selectCard()" style="width: 150px; height: 200px;" ng-src="cards/\{{cardId}}.png"></img>
	<button ng-disabled="!allowAdd" ng-click="addCard()" ng-class="allowAdd ? 'addButton' : 'addButtonDisabled'" class="addButton" id="addButton{{cardId}}">Add<div class="count">{{count}}</div></button>
	<button ng-disabled="!allowSubtract" ng-click="subtractCard()" ng-class="allowSubtract ? 'delButton' : 'delButtonDisabled'" class="delButton">X</button>
</div>
	