<div class="yourCard">
	<img src="cards/\{{cards[pokemon.id].imgSrc}}"
		style="width: 150px; height: 200px;">
	<div class="yourCardOpPanel">
		<button ng-disabled="!allowAdd" ng-click="addOneCard()" ng-class="allowAdd ? 'plusButton' : 'plusButtonDisabled'">+</button>
		<div class="yourCardsCardCount">{{pokemon.count }}</div>
		<button ng-disabled="!allowSubtract" ng-click="subtractOneCard()" ng-class="allowSubtract ? 'minusButton' : 'minusButtonDisabled'">-</button>
		<div style="clear: both;"></div>
		<div class="showCardButton">Show card</div>
	</div>
</div>