<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create your pokemon TCG deck</title>
<LINK REL=StyleSheet HREF="style.css" TYPE="text/css" MEDIA=screen>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
	var app = angular.module('deckApp', []);
</script>
<script src="angularjs/controller.js"></script>
<script src="angularjs/directives.js"></script>
<script src="angularjs/service.js"></script>
<script src="angularjs/cardsDBService.js"></script>
<script src="angularjs/filters.js"></script>
<link href='https://fonts.googleapis.com/css?family=Bree+Serif'
	rel='stylesheet' type='text/css'>
</head>
<body ng-app="deckApp" ng-controller="myCtrl" ng-init="model.view.showSavePanel = false; view.yourCards = false; view.showFilter = false;">


	<div ng-show="view.yourCards" class="modalBg">
		<div id="modalYourPanel">
			<div ng-show="view.showSavePanel" id="modalSavePanel">
				<div id="savePanel" class="panel">
						<div id="savePanelContent">
							<div>You modified your deck. Do you want save it?</div>
							<div class="selectPanel">
								<div ng-click="saveChanges()" id="yesButton" class="selectButton">Yes</div>
								<div ng-click="dontSaveChanges()" id="noButton" class="selectButton">No</div>
								<div ng-click="returnToYourCards()" id="cancelButton" class="selectButton">Cancel</div>
							</div>
						</div>
				</div>
			</div>	
			<div id="yourPanel" class="panel">
				<div ng-click="closeYourCards()" class="closeButton">X</div>
				<div style="clear: both"></div>
				<div id="yourCardsPanel">
					<div  ng-repeat=" pokemon in model.yourDeck.cards">
						<print-your-card deck-size="model.yourDeck.deckSize" subtract-your-card="subtractYourCard($index)" add-your-card="addYourCard($index)"  pokemon="pokemon"></print-your-card>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="container">
		<div id="logo">
			<img src="images/logo.gif"></img>
		</div>

		<div id="leftPanel">
			<div id="types">
				<div ng-class="{'elementSelected': model.selected.symbol == 'fire'}" ng-click="setSymbol($event)" id="fire" class="element">
					<img src="symbols/fire.gif"></img>
				</div>
				<div ng-class="{'elementSelected': model.selected.symbol == 'water'}" ng-click="setSymbol($event)" id="water" class="element">
					<img src="symbols/water.gif">
				</div>
				<div style="clear: both"></div>
				<div ng-class="{'elementSelected': model.selected.symbol == 'grass'}" ng-click="setSymbol($event)" id="grass" class="element">
					<img src="symbols/grass.gif">
				</div>
				<div ng-class="{'elementSelected': model.selected.symbol == 'electric'}" ng-click="setSymbol($event)" id="electric" class="element">
					<img src="symbols/electric.gif">
				</div>
				<div style="clear: both"></div>
				<div ng-class="{'elementSelected': model.selected.symbol == 'psychic'}" ng-click="setSymbol($event)" id="psychic" class="element">
					<img src="symbols/psychic.gif">
				</div>
				<div ng-class="{'elementSelected': model.selected.symbol == 'fighting'}" ng-click="setSymbol($event)" id="fighting" class="element">
					<img src="symbols/fighting.gif">
				</div>
				<div style="clear: both"></div>
				<div class="element" ng-class="{'elementSelected': model.selected.symbol == 'normal'}" ng-click="setSymbol($event)" id="normal" >
					<img src="symbols/normal.gif">
				</div>
				<div ng-class="{'elementSelected': model.selected.symbol == 'energy'}" ng-click="setSymbol($event)" id="energy" class="extraElement">E</div>
				<div style="clear: both"></div>
				<div ng-class="{'elementSelected': model.selected.symbol == 'trainer'}" ng-click="setSymbol($event)" id="trainer" class="extraElement">T</div>
				<div style="clear: both"></div>
			</div>

			<div ng-click="openYourCards()" id="viewDeckButton" class="button">View Deck</div>

			<div id="deckSize" class="appText">{{model.yourDeck.deckSize}}/60</div>
			<div style="clear: both;"></div>
		</div>

		<div id="centralPanel" class="panel">

			<div ng-show="view.showFilter" id="filter">
				<div id="all" class="filterTab" ng-click="setLevel()"
					ng-class="model.selected.level ? 'filterTab' : 'filterTabSelected'">All</div>
				<div id="Basic" class="filterTab" ng-click="setLevel('0')"
					ng-class="model.selected.level == '0' ? 'filterTabSelected' : 'filterTab'">Basic</div>
				<div id="Stage 1" class="filterTab" ng-click="setLevel('1')"
					ng-class="model.selected.level == '1' ? 'filterTabSelected' : 'filterTab'">Stage
					1</div>
				<div id="Stage 2" class="filterTab" ng-click="setLevel('2')"
					ng-class="model.selected.level == '2' ? 'filterTabSelected' : 'filterTab'">Stage
					2</div>
				<div style="clear: both;"></div>
			</div>

			<div id="cardsPanel">
				<div ng-repeat="card in model.selected.cards | stageFilter:model.selected.level">
					<print-card  deck-size="model.yourDeck.deckSize" count="card.count" card-click="selectActualCard(card.id)" card-id="card.id" add-card-to-deck="addCard(card.id)" subtract-card-from-deck="subtractCard(card.id)"></print-card>
				</div>
			</div>
		</div>
		<div id="rightPanel" class="panel">
			<div style="min-height: 370px" id="card">
				<img
					style="width: 95%; margin-top: 10px; display: block; margin-left: auto; margin-right: auto;"
					src=cards/\{{model.selected.actualCard}}.png>
			</div>
			<div id="cardCount" class="appText">In deck: {{getSelectedCardCount()}}</div>
		</div>
	</div>



</body>
</html>