@CHARSET "UTF-8";

body {
	background-image: url("images/background.jpg");
}

#logo {
	width: 1200px;
	min-height: 200px;
	text-align: center;
	line-height: 200px;
	font-size: 50px;
}

#leftPanel {
	width: 160px;
	border: 10px solid #307AC9;
	border-radius: 25px;
	box-shadow: 0px 0px 5px #FFFFFF;
	background-color: #2567C4;
	float: left;
}

.panel {
	border: 10px solid #307AC9;
	border-radius: 25px;
	box-shadow: 0px 0px 5px #FFFFFF;
	background-color: #2567C4;
}

#centralPanel {
	float: left;
	width: 710px;
	height: 500px;
	margin-left: 20px;
}

#filter {
	height: 50px;
	background-color: blue;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background: linear-gradient(#92C7FC 5%, #96CDFA 20%, #EEEEEE 55%, #96CDFA 90%,
		#92C7FC 95%);
	border: 2px solid white;
	text-align: center;
	margin: auto;
}

#cardsPanel {
	display: flex;
	flex-flow: row wrap;
	overflow-y: auto;
	height: 89%;
}

#rightPanel {
	float: left;
	width: 270px;
	height: 500px;
	margin-left: 20px;
}

#types {
	padding: 10px;
}

.element, .extraElement, .elementSelected {
	width: 59px;
	height: 59px;
	float: left;
	padding: 5px;
}

.elementSelected {
	background-color: white;
	border-radius: 30px;
	box-shadow: 0px 0px 15px #FFFFFF;
}

.element img:hover, .extraElement:hover {
	background-color: white;
	border-radius: 30px;
	box-shadow: 0px 0px 15px #FFFFFF;
}

.extraElement {
	width: 59px;
	height: 59px;
	border-radius: 40px;
	background-color: white;
	text-align: center;
	line-height: 59px;
	margin: 5px;
	padding: 0px;
	background: radial-gradient(#707070, white);
}

.extraElement:hover {
	filter: brightness(50%);
	cursor: pointer;
}

#types img {
	width: 59px;
	height: 59px;
	cursor: pointer;
}

#viewDeckButton {
	margin-top: 20px;
}

.button {
	text-align: center;
	margin: 10px;
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#30719c),
		to(#65a9d7));
	background: -webkit-linear-gradient(top, #30719c, #65a9d7);
	background: -moz-linear-gradient(top, #30719c, #65a9d7);
	background: -ms-linear-gradient(top, #30719c, #65a9d7);
	background: -o-linear-gradient(top, #30719c, #65a9d7);
	padding: 8px 16px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: white;
	font-size: 15px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
	border-top: 1px solid #96d1f8;
}

.button:hover {
	border-top-color: #367dad;
	background: #367dad;
	color: #ccc;
	cursor: pointer;
}

.button:active {
	border-top-color: #1b435e;
	background: #1b435e;
}

#deckSize {
	margin-top: 20px;
}

.appText {
	font-family: 'Bree Serif', serif;
	color: #C9C9C9;
	font-size: 50px;
	text-align: center;
	cursor: default;
}

.filterTab, .filterTabSelected {
	float: left;
	width: 24%;
	height: 95%;
	margin: 0 auto;
	text-align: center;
	line-height: 50px;
	border: 2px solid white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor: pointer;
}



.filterTabSelected {
	background: linear-gradient(#77B2D7 5%, #81A8D6 20%, #EEEEEE 55%, #81A8D6 90%,
		#77B2D7 95%);
	border: 0;
	cursor: default;
}

.card {
	width: 160px;
	padding: 5px;
}

.card img {
	width: 140px;
	padding: 10px;
	cursor: pointer;
}

.card img:ACTIVE {
	animation: blinker 0.2s linear infinite;
}

@
keyframes blinker { 100% {
	opacity: 0.5;
}

}
.count {
	width: 14px;
	border-radius: 14px;
	height: 14px;
	line-height: 14px;
	float: right;
	background-color: #1F2782;
	padding: 5px;
	text-align: center;
	border: solid 2px black;
	margin-left: 5px;
}
.addButton ,.addButtonDisabled{
	box-sizing:border-box;
	padding: 5px;
	float: left;
	background: linear-gradient(#92AFDE, #668FED);
	border: solid 2px #14438F;
	margin-left: 10px;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
	text-decoration: none;
	width: 92px;
	height: 45px;
	max-height: 50px;
}

.addButtonDisabled {
	cursor: not-allowed;
}

.addButton:hover {
	background: linear-gradient(#0447D6, #5D7FC9);

}

.addButton:ACTIVE {
	width: 88px;
	height: 41px;
	transform: translate(2px, 2px);
}


.delButton, .delButtonDisabled {
	float: right;
	background: linear-gradient(#ED582B, #F28D4E);
	border: solid 2px black;
	margin-left: 10px;
	border-radius: 10px;
	padding: 5px;
	font-size: 20px;
	height: 45px;
	width: 45px;
	line-height: 28px;
	text-align: center;
}

.delButton {
	cursor: pointer;
}

.delButtonDisabled {
	cursor: not-allowed;
}

.delButton:hover {
	background: linear-gradient(#C93618, #E8745D);
}

.delButton:ACTIVE {
	height: 45px;
	width: 45px;
	transform: translate(2px, 2px);
}


#modalYourPanel {
	position: fixed;
	width: 1200px;
	left: 50px;
	height: 50px;'
}

#modalSavePanel {
	position: fixed;
	width: 1200px;
	left: 50px;
	top: 150px;
	height: 700px;
}

.modalBg {
	z-index: 1;
}


.modalBg:BEFORE {
	content: "";
	position: fixed;
	background-color: rgba(0,0,0,.8);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#yourPanel {
	height: 700px;
	margin-top: 150px;
}

#yourCardsPanel {
	display: flex;
	flex-flow: row wrap;
	overflow-y: auto;
	height: 94%;
	z-index: 1;
	top: 0px;
}


.closeButton {
	float: right;
	background: linear-gradient(#ED582B, #F28D4E);
	border: solid 2px black;
	margin-right: 2px;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
	height: 28px;
	width: 28px;
	line-height: 28px;
	text-align: center;
	margin-bottom: 10px;
}

.closeButton:ACTIVE {
	transform: translateY(4px);
}

.yourCard {
	padding: 20px;
	width: 180px;
}

.yourCard img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.yourCardOpPanel {
	margin-top: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	background-color: black;
	border: 5px solid #35B4DE;
	border-radius: 25px;
	box-shadow: 0px 0px 5px #FFFFFF;
	width: 150px;
	min-height: 30px;
	height: 100px;
}

.plusButton, .plusButtonDisabled  {
	float: left;
	background: linear-gradient(#ED582B, #F28D4E);
	box-sizing:border-box;
	border: 2px solid black;
	margin-left: 2px;
	width: 48px;
	height: 50px;
	border-radius: 35px;
	line-height: 25px;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}
.plusButton {
	cursor: pointer;
}
.plusButtonDisabled {
	cursor: not-allowed;
}



.plusButton:ACTIVE {
	width:48px;
	height: 48px;
	transform: translate(2px, 2px);
	margin: 1px;
}

.yourCardsCardCount {
	float: left;
	width: 50px;
	color: white;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
}

.minusButton, .minusButtonDisabled {
	float: right;
	background: linear-gradient(#BBE4F2, #84B2C2);
	box-sizing:border-box;
	border: 5px solid black;
	width: 50px;
	height: 50px;
	border-radius: 35px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

.minusButton {
	cursor: pointer;
}
.minusButtonDisabled {
	cursor: not-allowed;
}

.minusButton:ACTIVE {
	width:48px;
	height: 48px;
	transform: translate(2px, 2px);
	margin: 1px;
}

.showCardButton {
	width: 140px;
	text-align: center;
	background: linear-gradient(#5A96DB, #5BA6FC);
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	border: 1px solid blue;
	border-radius: 10px;
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.showCardButton:ACTIVE {
	width: 136px;
	height: 28px;
	margin-top: 3px;
	transform: trasnlate(2px, 2px);
}

#savePanel {
	width: 400px;
	height: 200px;
	z-index: 2; 
	color: white;
	font-size: 20px;
	margin-top: 20%;
	margin-left: 30%;
	text-align: center;
}

.selectButton {
	width: 60px;
	height: 25px;
	border-radius: 5px;
	margin-left: 30px;
	padding: 5px;
	background: linear-gradient(#5A96DB, #5BA6FC);
	border: 1px solid blue;
	border-radius: 10px;
}

.selectButton:HOVER {
	cursor: pointer;
}

.selectPanel {
	display: flex;
	flex-flow: row wrap;
	margin-top: 10%;
	margin-left: 10%;
}

#savePanelContent {
	margin-top: 15%;
}
